



                color: white;
                font-size: 48px;
                font-weight: 800;
                padding-top: 267px;
                padding-left: 145px;
                margin: 0px;
                font-family: arial sans-serif;                